.errorsTable {
	flex: 1;
	font: normal normal normal 21px/28px Open Sans;
	color: #cccccc;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 12.5rem;
}
