.profileStats {
	display: flex;
	margin: 0.438em 0 0.438em 0;
	width: 100%;
	justify-content: center;
}

.base-block {
	background: #edf5ff 0% 0% no-repeat padding-box;
	margin: 0 0.313em 0 0;
}

// profile pic section
.profilePic {
	max-width: 6.063rem;
	width: 100%;
	min-height: 7.813rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@extend .base-block;
}

.innerFrame {
	width: 3.938rem;
	height: 4.5rem;
}

.profileIcon {
	font-size: 4.3rem;
}

.sexAge {
	margin-top: 10px;
	font: normal normal normal 10px/11px Arial;
	letter-spacing: 0px;
	color: #333333;
}

//user info section
@mixin common-styles {
	margin-right: 0.75rem;
}

.userInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 14.938rem;
	width: 100%;
	min-height: 7.813rem;
	height: 100%;
	@extend .base-block;
}

.userInfoSub {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;

	padding: 0.688rem 0.75rem;
	box-sizing: border-box;
	border: none;
}

.userInfoSub div {
	display: flex;
	margin-bottom: 2px;
}

.data {
	text-align: left;
	font: normal normal normal 12px/17px Open Sans;
	color: #333333;
	text-decoration: none;
	&:hover {
		font-weight: bold;
	}
	transition-duration: 0.2s;
}

.cell {
	font: normal normal normal 14px/21px Myriad Pro;
}

.icon {
	width: 0.75rem;
	height: 0.875rem;
	font: normal normal 300 14px/17px Font Awesome 5 Pro;
	color: #b0c6d8;
	@include common-styles;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.activity {
	display: flex;
	flex-direction: column;
	max-width: 34.938rem;
	width: 100%;
	height: 100%;
	min-height: 7.813rem;
	margin: 0 0.313em 0 0;
}

.dayHeader {
	max-width: 34.938rem;
	width: 100%;
	min-height: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	font: normal normal normal 12px/17px Open Sans;
	color: #333333;
	background: #edf5ff 0% 0% no-repeat padding-box;
}

.activityStatBar {
	display: flex;
	width: 100%;
}

.statBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 5.938rem;
	background: #edf5ff 0% 0% no-repeat padding-box;

	&:first-of-type {
		margin-right: 2px;
	}
	&:last-of-type {
		margin-left: 2px;
	}
}

.statBox * {
	&:nth-child(1) {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&:last-child {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.statNumber {
	text-align: center;
	font: normal normal 600 50px/68px Open Sans;
	color: #333333;
}

.bottomBar {
	min-height: 24px;
	width: 100%;
	background: #d5dce5 0% 0% no-repeat padding-box;
}

.bottomText {
	font: normal normal 600 10px/14px Open Sans;
	color: #333333;
}

.smsBox {
	max-width: 14.063rem;
	width: 100%;
	min-height: 7.813rem;
	height: 100%;
	background: #edffed 0% 0% no-repeat padding-box;
}

.smsHeader {
	width: 100%;
	min-height: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	font: normal normal normal 12px/17px Open Sans;
	color: #333333;
	background: #edffed 0% 0% no-repeat padding-box;
}

.activityStatBar .smsBoxOverRide {
	width: 100%;
	background: #edffed 0% 0% no-repeat padding-box;
	margin-right: 0px;
	margin-left: 0px;
}

.statBox .smsBottomBarOverRide {
	background: #d5e5d5 0% 0% no-repeat padding-box;
	margin-right: 0px;
	margin-left: 0px;
}

// media queries

@media (max-width: 48.75rem) {
	.profileStats {
		flex-wrap: wrap;
		justify-content: center;
	}

	.base-block {
		margin-bottom: 0.313em;
	}

	.profilePic {
		max-width: 40%;
		width: 100%;
	}

	.userInfo {
		max-width: 58%;
		width: 100%;
		margin-bottom: 0.313em;
	}

	.userInfoSub {
		width: 100%;
		max-width: 100%;
	}

	.activity {
		width: 100%;
		max-width: 100%;
	}

	.dayHeader {
		max-width: 100%;
	}

	.statBox {
		width: 100%;
		height: 100%;

		&:first-of-type {
			margin-right: 1px;
		}
		&:last-of-type {
			margin-left: 1px;
		}
	}

	.smsBox {
		width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 33rem) {
	.profilePic {
		max-width: 100%;
	}

	.userInfo {
		max-width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.userInfoSub {
		text-align: left;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
